* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-topbar {
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(90, 89, 89);
    box-shadow: rgba(0, 9, 18, 0.2) 10px 8px 24px;

}
.header-topbar > h2{
    font-size: 1.5em;
    color: rgb(162, 158, 158);
    border: 2px solid black;
    padding: 5px;
}
.header-topbar .top-center .about{
    font-size: 1.2em;
    margin-left: 20px;
    color: rgb(162, 158, 158);
    text-decoration: none;
    cursor: pointer;
}
.header-topbar .nav-button .about-contact{
    font-size: 1.2em;
    margin-left: 20px;
    color: rgb(162, 158, 158);
    text-decoration: none;
    cursor: pointer;
}

.header-topbar .nav-button .about-contact:hover{
    font-size: 1.5em;
    color: whitesmoke;
    transition: ease-in-out 0.5s;

}

.header-topbar .top-center .about:hover{
    font-size: 1.5em;
    color: whitesmoke;
    transition: ease 0.3s;
}