* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.home-signup{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('coder.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px 0;
}
.home-signup .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    color: white;
}
.content p{
    margin: 10px 0 40px;
}
.content h2{
    font-size: 3em;
    letter-spacing: .03em;
}
.topbar-signup {
    width: 100%;
    padding: 15px 100px;
    position: fixed; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    z-index: 99;
}

.topbar-signup > h2{
    font-size: 1.5em;
    color: white;
    background-color: rgb(31, 16, 31);
    padding: 9px;
    border: 1px solid antiquewhite;
}

.topbar-signup > .nav-button .topright-signup{
    font-size: 1.2em;
    margin-left: 35px;
    color: white;
    text-decoration: none;
}

.form-box{
    position: relative;
    display: contents;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.home-signup .wrapper-login{
    position: relative;
    width: 440px;
}

.wrapper-login h2{
    font-size: 2em;
    color: white;
    text-align: center;
}

.wrapper-login .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: white;
    padding: 0 25px 0 45px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    font-size: .8em;
    top: -14px;
    left: 17px;
}
.input-box .icon{
    position: absolute;
    top: 14px;
    left: 15px; 
    font-size: 1.2em;
    color: white;
}

.btn{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, rgb(42, 44, 42), rgba(2, 46, 90, 0.197));
    box-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}
.btn{
    color: white;
    border-radius: 40px;
    background: linear-gradient(90deg, rgb(42, 44, 42), rgba(2, 46, 90, 0.197));
    box-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: .9em;
}

.btn:hover{
    background: rgb(100, 83, 104);
}
.wrapper-login .register-link{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 30px 0;
}

.register-link p a{
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

