.home-problems {
    background-color: #dcdcdc;
    margin: 0; 
    padding: 0; 
}
.table-container {
    max-width: 800px; /* Adjust the max width as needed */
    margin: 0 auto;
    padding: 20px;
}
.heading{
    text-align: center;
    padding: 20px;
}
.topbar-placeholder {
    height: 80px; 
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-collapse: collapse;
    border: 1px solid #dcdcdc;
}
.thead{
    font-size: large;
    color: black;
}

th, td {
    border: 1px solid #dcdcdc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: grey;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tag {
    background-color: #007bff;
    color: #fff;
    padding: 4px 8px;
    margin-left: 3px;
    border-radius: 4px;
}

.difficulty {
    color: black
    ;
}

.status {
    color: #212529;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    color: blue;
}