
*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #424344;
    color: white;
}
.wrapper > h2{
    text-align: center;
}

.wrapper>p{
    font-size: large;
    text-align: center;
}

.wrapper>.forminp{
    background-color:rgb(90, 89, 89);
    width:70%;
    box-shadow: rgba(233, 233, 237, 0.1) 0px -7px 16px;
    border-radius: 8px;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    font-size: larger;
    align-items: center;
}
.topbar-placeholder {
    height: 50px; 
}
.forminp button{
    margin-top: 10px;
    width: 90px;
    height: 30px;
    font-size: large;
    border-radius: 7px;
    background-color:beige;
}

textarea, select{
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #424344;
    color: white;
}
